@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");

.App {
  text-align: center;
  transition: all 0.5s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#range::-webkit-slider-thumb {
  background-color: rgb(96, 96, 96);
}
.App {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: rgb(72, 72, 72);
  background: linear-gradient(
    90deg,
    rgba(72, 72, 72, 1) 1%,
    rgba(160, 160, 160, 1) 48%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}
.music--container {
  position: relative;
  width: 500px;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  height: 280px;
  width: 300px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 140px;
  transform-origin: right;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.artist {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.playAndPause {
  background: none;
  border: none;
}
.playAndPause i {
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.rewind,
.forward {
  background: none;
  border: none;
  cursor: pointer;
}
.forward:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}
.rewind i,
.forward i {
  font-size: 40px;
  color: white;
}

.rewind:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.toggle--btn {
  position: absolute;
  background: none;
  border: none;
  padding: 20px;

  z-index: 2;
  top: 0;
  right: 0;
}
.toggle--btn i {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.list--music {
  margin-top: 100px;
  width: 100%;
  padding: 0;
  padding-bottom: 50px;
}
.list--music li {
  list-style: none;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}
.list--music div {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.img--float {
  position: relative;
  width: 50px !important;
  height: 50px !important;
  border-radius: 2px;
  transition: all 0.5s;
  margin-top: 130px;
  right: 30% !important;
  margin-bottom: 10px;
  transform-origin: right;
}
.lyrics {
  display: none;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  height: 300px;
  line-height: 2rem;
  text-align: center;
}

.lyrics::-webkit-scrollbar {
  display: none;
}
.lyrics--show {
  display: block;
  transition: 0.5s ease-in-out;
}

.pre--lyrics {
  color: lightgray;
  text-align: center;
  margin: 0;
  padding-right: 30px;
}
.for--volume {
  position: absolute;
  left: 20px;
  margin-top: 6%;
  display: flex;
}
.volume {
  height: 4px !important;
  transform: rotate(-90deg);
  width: 30%;
  writing-mode: vertical-rl !important;
}
.volume + i {
  position: absolute;
  top: 30px;
  left: 17px;

  color: white;
}
.volume::-webkit-slider-thumb {
  background: white;
  background-color: white;
  opacity: 0;
}
.volume::before {
  content: "";
}
.volume:active .volume::-moz-range-thumb {
  opacity: 0 !important;
}
.vol--hide {
  opacity: 0;
  transition: all 0.2s;
}
.dash {
  position: absolute;
  height: 10px;
  z-index: 100;
  top: -10px;
  cursor: pointer;
}
.dash i {
  font-size: 60px;
  font-style: bold;
  color: gray;
}
.checkHeight {
  height: 100vh !important;
}
.bringdown {
  position: absolute;
  height: 100px;

  bottom: 0px !important;
}

/* for search */

.music--header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.music--header h1 {
  font-family: "Poppins", sans-serif;
}

.search {
  position: relative;
  display: flex;
  width: 80%;
  padding: 8px 10px;
  gap: 1rem;
  border-radius: 0.7rem;
  background-color: white;
}
.search input[type="text"] {
  border: none;
  width: 100%;
  background: transparent;
}
.search input[type="text"]:focus {
  border: none;
  outline: none;
}
