body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#range {
  height: 4px;
  width: 80%;
  background: gray;
  border: none;
  background-color: rgb(116, 116, 116);
}
#range::-webkit-slider-thumb {
  width: 1px;
}
.musicList {
  position: fixed;
  transition: all 0.5s;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0px;
  width: 50%;
  padding: 10px;
  background: rgb(216, 216, 216);
  backdrop-filter: blur(10px);
}

.show--img--scale {
  transform: scale(0.9);
  margin: 0;
  margin-right: 5%;
}
.list--active {
  border-bottom: 1px solid gray;
  padding: 2rem 0rem;
}
